
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Saira+Condensed:wght@100&display=swap');
body{
    background-color: blueviolet;
}
h2{
    text-align: center;
    font-family: 'Rampart One', cursive;
    font-size: 50px;
}
 #txt-area{
    height: 400px;
    width: 400px;
    border-radius: 15px;
   outline: none;
   padding: 30px;
    resize: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
 }
 #btn{
    margin-left: 750px;
 }
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    transform: translateY(-20px);

   
}
    .main1{
        width:150px;
       background-color: black;
        color: white;
        display: flex;
        align-items: center; 
        justify-content: center;
        margin-left: 660px;
       transform: translateY(-120px);
        border-radius: 8px;
        font-size: 18px;
        height: 80px;
       margin-left: 680px;
        }
    
    #character-box {
        padding-left: 10px;
        
    }
    #no-words,#no-character{
        text-align: center;
    }

    
   


    